<header id="gt-header" class="<%= @header %>">
	<h1 class="site-title"><a href="#<%= @satellite.name %>"><%= @satellite.name %></a></h1>
</header>

<section id="gt-fact" class="gt-section">

	<div class="planet-avatar">
		<img src="<%= @satellite.avatar %>" alt="">
	</div>

	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li><%= link_to "Dữ liệu hệ mặt trời", planets_path %></li>
		<li><%= link_to @satellite.planet.name, { :controller => "planet", :action => "detail", :id => @satellite.planet } %></li>
		<li><%= @satellite.name %></li>
	</ol>

	<div class="gt-section-content">
		<div class="entry-single">
			<div class="entry-table">
				<div class="table-responsive">
					<table class="table">
					<!-- <caption>Optional table caption.</caption> -->
					<thead>
						<tr>
							<th colspan="2"><span class="table-title">THÔNG SỐ</span></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Tên gọi</td>
							<td><%= @satellite.name %></td>
						</tr>
						<tr>
							<td>Năm phát hiện</td>
							<td><%= @satellite.year_discovered %></td>
						</tr>
						<tr>
							<td>Người phát hiện</td>
							<td><%= @satellite.discoverer %></td>
						</tr>
						<tr>
							<td>K/c tới hành tinh</td>
							<td><%= @satellite.distance_from_planet %></td>
						</tr>
						<tr>
							<td>Chu kì tự quay</td>
							<td><%= @satellite.orbital_period %></td>
						</tr>
					</tbody>
					</table>
				</div>
			</div>
			<div class="entry-content">
				<%=raw @satellite.detail %>
			</div>
		</div>
	</div>
</section>