<section id="gt-fact" class="gt-section">

	<header id="gt-section-header">
		<h2 class="section-title border"><span><%= @planet.name %></span></h2>
		<p class="section-sub-title">Culpa et voluptatum, aliquam deserunt quibusdam facere odio.</p>
	</header>

	<div class="gt-section-content">
		<div class="entry-single">
			<div class="entry-table">
				<div class="table-responsive">
					<table class="table">
					<!-- <caption>Optional table caption.</caption> -->
					<thead>
						<tr>
							<th>Tên</th>
							<th>Thông số</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Tên gọi</td>
							<td><%= @planet.name %></td>
						</tr>
						<tr>
							<td>Khối lượng (10<sup>24</sup> kg)</td>
							<td><%= @planet.mass %></td>
						</tr>
						<tr>
							<td>Đường kính (km)</td>
							<td><%= @planet.diameter %></td>
						</tr>
						<tr>
							<td>Độ đặc (kg/m<sup>3</sup>)</td>
							<td><%= @planet.density %></td>
						</tr>
						<tr>
							<td>m/s<sup>2</sup></td>
							<td><%= @planet.gravity %></td>
						</tr>
						<tr>
							<td>Vận tốc thoát khỏi lực hấp dẫn (km/s)</td>
							<td><%= @planet.escape_velocity %></td>
						</tr>
						<tr>
							<td>Chu kỳ tự quay (h)</td>
							<td><%= @planet.rotation_period %></td>
						</tr>
						<tr>
							<td>Độ dài ngày (h)</td>
							<td><%= @planet.day_lenght %></td>
						</tr>
						<tr>
							<td>K/c tới mặt trời (10<sup>6</sup> km)</td>
							<td><%= @planet.distance_from_sun %></td>
						</tr>
						<tr>
							<td>Điểm cận nhật (10<sup>6</sup> km)</td>
							<td><%= @planet.perihelion %></td>
						</tr>
						<tr>
							<td>điểm viễn nhật (10<sup>6</sup> km)</td>
							<td><%= @planet.aphelion %></td>
						</tr>
						<tr>
							<td>Chu kỳ quay quanh mặt trời (ngày)</td>
							<td><%= @planet.orbital_period %></td>
						</tr>
						<tr>
							<td>Vận tốc quỹ đạo  (km/s)</td>
							<td><%= @planet.orbital_velocity %></td>
						</tr>
						<tr>
							<td>Độ nghiêng quỹ đạo (độ)</td>
							<td><%= @planet.orbital_Inclination %></td>
						</tr>
						<tr>
							<td>Độ nghiêng trục (độ)</td>
							<td><%= @planet.axis_inclination %></td>
						</tr>
						<tr>
							<td>Khối lượng</td>
							<td><%= @planet.weight %></td>
						</tr>
						<tr>
							<td>Nhiệt độ (C)</td>
							<td><%= @planet.temperature %></td>
						</tr>
						<tr>
							<td>Áp suất khí quyển bề mặt (atm)</td>
							<td><%= @planet.surface_pressure %></td>
						</tr>
						<tr>
							<td>Thành phần khí quyển</td>
							<td><%= @planet.atmospheric_composition %></td>
						</tr>
						<tr>
							<td>Có vành?</td>
							<td><%= @planet.ring %></td>
						</tr>
						<tr>
							<td>Số vệ tinh</td>
							<td><%= @planet.satellite %></td>
						</tr>
					</tbody>
					</table>
				</div>
			</div>
			<div class="entry-content">
				<%= @planet.detail %>
			</div>
		</div>
	</div>
</section>