<section id="gt-blog" class="gt-section">

	<header id="gt-section-header">
		<h2 class="section-title border"><span>Bài viết</span></h2>
		<p class="section-sub-title">Bài viết, tin tức</p>
	</header>

	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li><%= link_to "Bài viết", articles_path %></li>
	</ol>

	<div class="gt-section-content">
		<div class="posts">
			<% @articles.each do |post| %>
			<article class="post">
				<div class="post-header">
					<h3 class="post-title"><%= post.title %></h3>
					<p class="meta user"><i class="fa fa-user"></i> <%= post.admin_user.display_name %></p>
					<p class="meta time"><i class="fa fa-clock-o"></i> <%= post.created_at %></p>
					<p class="meta tag"><i class="fa fa-tag"></i> <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %></p>
				</div>
				<div class="post-content">
					<div class="media-container">
						<img src="<%= post.feature_image %>" alt="">
					</div>
					<p class="brief"><%= post.brief %></p>
					<%= link_to "Đọc tiếp", { :controller => "article", :action => "detail", :id => post }, class: "read-more" %>
				</div>
			</article>
			<% end %>
			<div class="row">
				<%= will_paginate @articles,
					:class => "will-paginate",
					:previous_label => '<i class="fa fa-chevron-left"></i>',
					:next_label => '<i class="fa fa-chevron-right"></i>'
				%>
			</div>
		</div>
		<!-- /posts -->
	</div>
</section>