<section id="gt-blog" class="gt-section"  style="margin-top: 100px;">

	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li><%= link_to "Bài viết", articles_path %></li>
		<li><%= @post.title %></li>
	</ol>

	<div class="gt-section-content">
		<div class="posts">
			<article class="post">
				<div class="post-header">
					<h3 class="post-title"><%= @post.title %></h3>
					<p class="meta user"><i class="fa fa-user"></i> <%= @post.admin_user.display_name %></p>
					<p class="meta time"><i class="fa fa-clock-o"></i> <%= @post.created_at %></p>
					<p class="meta tag"><i class="fa fa-tag"></i> <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(' ') %></p>
				</div>
				<div class="post-content">
					<div class="media-container">
						<img src="<%= @post.feature_image %>" alt="">
					</div>
					<div class="brief">
						<%=raw @post.content %>
					</div>
				</div>
			</article>
			<!-- /pagination -->
		</div>
		<!-- /posts -->
	</div>
</section>