<div class="container">
	<ol class="breadcrumb" style="margin-top: 100px;">
		<li><a href="/">Trang chủ</a></li>
		<li>Giới thiệu, thông tin</li>
	</ol>
</div>

<section style="margin-bottom: 50px;">
	<div id="gt-text">
		<div class="container">
			<h2 class="section-title border"><span>Giới thiệu về chúng tôi</span></h2>
			<p class="section-sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate error blanditiis exercitationem odit dolores, earum, corrupti, hic nesciunt vel quibusdam voluptas veniam ea nam. Iure eaque sint deserunt provident minima.</p>
		</div>
	</div>
</section>

<section id="gt-author" class="gt-section">
	<div class="container">
		<div class="row">
			<% @authors.each do |author| %>
			<div class="entry">
				<div class="entry-media">
					<div class="social">
						<a href="<%= author.social_facebook %>" class="fa fa-facebook"></a>
						<a href="<%= author.social_twitter %>" class="fa fa-twitter"></a>
						<a href="<%= author.social_gplus %>" class="fa fa-google-plus"></a>
					</div>
					<img src="<%= author.avatar %>" alt="">
				</div>
				<div class="entry-content">
					<h3><%= author.name %></h3>
					<p><%= author.role %></p>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section>