<%
	@is_home = ''
	@is_planet = ''
	@is_article = ''
	@is_about = ''
	if @nav_active == 'home'
		@is_home = 'active'
	end
	if @nav_active == 'planet'
		@is_planet = 'active'
	end
	if @nav_active == 'article'
		@is_article = 'active'
	end
	if @nav_active == 'service'
		@is_service = 'active'
	end
	if @nav_active == 'about'
		@is_about = 'active'
	end
%>
<nav id="gt-main-nav">
	<div class="container">
		<div class="row">
			<div class="nav-title"><a href="/">ASTRONOMY</a></div>
			<ul class="main-nav" id="main-nav">
				<li class="<%= @is_home %>"><a href="/">Trang chủ</a></li>
				<li class="<%= @is_planet %>"><%= link_to "Hành tinh", planets_path %></li>
				<li class="<%= @is_article %>"><%= link_to "Bài viết", articles_path %></li>
				<li class="<%= @is_service %>"><%= link_to "Dịch vụ", {:controller => "home", :action => "service" }%></li>
				<li class="<%= @is_about %>"><%= link_to "Thông tin", {:controller => "about", :action => "index" }%></li>
			</ul>
			<button type="button" class="ht-navbar-toggle" data-target="#main-nav">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar icon-bar-1"></span>
				<span class="icon-bar icon-bar-2"></span>
				<span class="icon-bar icon-bar-3"></span>
			</button>
		</div>
	</div>
</nav>