<!DOCTYPE html>
<html lang="vi">
	<head>
		<!-- Basic need -->
		<title>Astronomy</title>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<link rel="profile" href="">
		<link rel="shortcut icon" href="images/favicon.ico">

		<!-- Mobile specific meta -->
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
		<meta name="format-detection" content="telephone-no">

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>

	<%= render :partial => 'layouts/header' %>

	<%= render :partial => 'layouts/mainnav' %>

	<!-- device notice - add later
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	-->
	<%= yield %>

	<%= render :partial => 'layouts/footer' %>

	</body>
</html>
